.container {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;

  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff;
}
